body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    font-size: 1em;
    color: #666;
}

* {
    /* 通用选择器 */
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    position: relative;
    left: 120px;
}

/* 伪类选择器 */
#button_id:hover {
    background-color: #45a047;
}

/* 伪元素选择器 */
p::before {
    content: ">> ";
    color: red;
}

p::after {
    content: " <<";
    color: blue;
}

/* display属性转换成块元素 */
.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 4px 2px;
}

.float_test {
    border: 4px solid darkgreen;
    overflow: auto;
}

.left_float {
    float: left;
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
}

.right_float {
    float: right;
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
}